@charset "UTF-8";

@import "sass";

.line {height: 2px; background-color: $white; opacity: 0; margin-left: -40px; width: 0px;}
.nav-item a {padding: 0.2em 0!important;}
.nav-item {padding-right: 2.55em!important;}
.nav-item:last-child {padding-right: 0.5em!important;}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Dosis');


.preloader {
  background: #f8f5f0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}

.cssload-loader {
  position: relative;
  left: -webkit-calc(50% - 31px);
  left: calc(50% - 31px);
  width: 100px;
  height: 100px;
  margin:130px 0;
  -webkit-perspective: 780px;
          perspective: 780px;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  &.cssload-one {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 1.15s linear infinite;
    -o-animation: cssload-rotate-one 1.15s linear infinite;
    -ms-animation: cssload-rotate-one 1.15s linear infinite;
    -webkit-animation: cssload-rotate-one 1.15s linear infinite;
    -moz-animation: cssload-rotate-one 1.15s linear infinite;
    border-bottom: 3px solid white;
  }
  &.cssload-two {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 1.15s linear infinite;
    -o-animation: cssload-rotate-two 1.15s linear infinite;
    -ms-animation: cssload-rotate-two 1.15s linear infinite;
    -webkit-animation: cssload-rotate-two 1.15s linear infinite;
    -moz-animation: cssload-rotate-two 1.15s linear infinite;
    border-right: 3px solid #9c764c;
  }
  &.cssload-three {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 1.15s linear infinite;
    -o-animation: cssload-rotate-three 1.15s linear infinite;
    -ms-animation: cssload-rotate-three 1.15s linear infinite;
    -webkit-animation: cssload-rotate-three 1.15s linear infinite;
    -moz-animation: cssload-rotate-three 1.15s linear infinite;
    border-top: 3px solid #ad5a55;
  }

}
@keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #211e5d;
  --colorPrimary800: #4527a0;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 0.5;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeSm);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: -webkit-calc(
          (var(--labelDefaultPosY)) -
          (var(--inputPaddingV) * var(--labelScaleFactor)) -
          (var(--inputFontSize) * var(--inputLineHeight))
  );
  --labelTransformedPosY: calc(
          (var(--labelDefaultPosY)) -
          (var(--inputPaddingV) * var(--labelScaleFactor)) -
          (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}







.Title {
  margin: 0 0 var(--gutterXx) 0;
  padding: 0;
  color: #fff;
  font-size: var(--fontSizeXx);
  font-weight: 400;
  line-height: var(--lineHeightSm);
  text-align: center;
  text-shadow: -0.1rem 0.1rem 0.2rem var(--colorPrimary800);
}

.Input {
  position: relative;
}

.Input-text {
  display: block;
  margin: 0 auto;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: black;
  width: 85%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  -webkit-border-radius: 0.4rem;
          border-radius: 0.4rem;
  -webkit-transition: -webkit-box-shadow var(--transitionDuration);
  transition: -webkit-box-shadow var(--transitionDuration);
  -o-transition: box-shadow var(--transitionDuration);
  transition: box-shadow var(--transitionDuration);
  transition: box-shadow var(--transitionDuration), -webkit-box-shadow var(--transitionDuration);
}

.Input-text:focus {
  outline: none;
  -webkit-box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
          box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.Input-label {
  display: block;
  position: absolute;
  bottom: 60%;
  left: 3rem;
  color: $white;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  opacity: 0;
  -webkit-transform:
          translate3d(0, var(--labelDefaultPosY), 0)
          scale(1);
          transform:
          translate3d(0, var(--labelDefaultPosY), 0)
          scale(1);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition:
          opacity var(--inputTransitionDuration) var(--inputTransitionTF),
          visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
          z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
          -webkit-transform var(--inputTransitionDuration) var(--inputTransitionTF);
  transition:
          opacity var(--inputTransitionDuration) var(--inputTransitionTF),
          visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
          z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
          -webkit-transform var(--inputTransitionDuration) var(--inputTransitionTF);
  -o-transition:
          opacity var(--inputTransitionDuration) var(--inputTransitionTF),
          transform var(--inputTransitionDuration) var(--inputTransitionTF),
          visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
          z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
  transition:
          opacity var(--inputTransitionDuration) var(--inputTransitionTF),
          transform var(--inputTransitionDuration) var(--inputTransitionTF),
          visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
          z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
  transition:
          opacity var(--inputTransitionDuration) var(--inputTransitionTF),
          transform var(--inputTransitionDuration) var(--inputTransitionTF),
          visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
          z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
          -webkit-transform var(--inputTransitionDuration) var(--inputTransitionTF);
}

.Input-text:placeholder-shown + .Input-label {
  visibility: hidden;
  z-index: -1;
}

.Input-text:not(:placeholder-shown) + .Input-label,
.Input-text:focus:not(:placeholder-shown) + .Input-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  -webkit-transform:
          translate3d(0, var(--labelTransformedPosY), 0)
          scale(var(--labelScaleFactor));
          transform:
          translate3d(0, var(--labelTransformedPosY), 0)
          scale(var(--labelScaleFactor));
  -webkit-transition:
          visibility 0ms,
          z-index 0ms,
          -webkit-transform var(--inputTransitionDuration);
  transition:
          visibility 0ms,
          z-index 0ms,
          -webkit-transform var(--inputTransitionDuration);
  -o-transition:
          transform var(--inputTransitionDuration),
          visibility 0ms,
          z-index 0ms;
  transition:
          transform var(--inputTransitionDuration),
          visibility 0ms,
          z-index 0ms;
  transition:
          transform var(--inputTransitionDuration),
          visibility 0ms,
          z-index 0ms,
          -webkit-transform var(--inputTransitionDuration);
}


.gradient {
  background-color: rgba(0, 0, 0, 0.5);
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(0, 0, 0)),color-stop(1, rgba(0, 0, 0, 0)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(left,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background-image: -o-repeating-linear-gradient(left,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
  background-image: repeating-linear-gradient(to right,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
  background-image: -ms-repeating-linear-gradient(left,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff000000",endColorstr="#00000000",GradientType=1);
  }
}
.gradient-half {
  background-color: rgba(0, 0, 0, 0.27);
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIwLjUzMiIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(0, 0, 0)),color-stop(0.532, rgba(0, 0, 0, 0)),color-stop(1, rgba(0, 0, 0, 0)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(left,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 53.2%,rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background-image: -o-repeating-linear-gradient(left,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 53.2%,rgba(0, 0, 0, 0) 100%);
  background-image: repeating-linear-gradient(to right,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 53.2%,rgba(0, 0, 0, 0) 100%);
  background-image: -ms-repeating-linear-gradient(left,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0) 53.2%,rgba(0, 0, 0, 0) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .gradient-half {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff000000",endColorstr="#00000000",GradientType=1);
  }
}



.fa {
  display: inline-block; font-family: FontAwesome; font-size: inherit; text-rendering: auto;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* ОСНОВНЫЕ СТИЛИ */
.height-10 {height: 10rem!important; background-color: $white;}
.pt-10{padding-top: 10rem!important;}
.pb-10{padding-bottom: 10rem!important;}
.pb-6{padding-bottom: 6rem!important;}
.pl-7 {padding-left: 7rem!important;}
h2 {font-size: $size2}
.background-grey-light {background-color: $grey-light!important;}
body {font-family: 'HelveticaNeueCyr', sans-serif; background: url("img/background-home-4.jpg") no-repeat 50% 50%/100% auto fixed;}
a {color: $white; text-decoration: none!important;}
.banner {height: 501px; background: url("img/banner.jpg") no-repeat 50% 50%/auto 100%; color: $white}
.header {height: 100px; background-color: transparent;
  z-index: 20000; -webkit-transition: 500ms; -o-transition: 500ms; transition: 500ms}
.header-slick {height: 60px; background-color: $hover-color; position: fixed;
  width: 100%; z-index: 20000; -webkit-transition: 500ms; -o-transition: 500ms; transition: 500ms; top: 0;}
.nav-link { color: $white;}
.nav-link:hover {color: $white;}
.phone {font-size: 0.95em; letter-spacing: 0.07em; color: $white; font-weight: 700}
.menu {font-size: 0.95em; letter-spacing: 0.03em;}
.social-icons {}
.logo {height: 300px; background: url("img/logo.png") no-repeat 50% 50%/76% auto;}
.logo-footer {height: 100px; background: url("img/logo.png") no-repeat 7% 0%/46% auto;}
#starmap {z-index:0;overflow:hidden;position:absolute;width:100%;height:100%; color:#fff;}
.b_star {position:absolute; color: #ffffff; font-size: 0.5em}
.ann-item {}
.ann-title h2, .about-title h2, .couch-title h2 {
  height: $ann-item-title; line-height: $ann-item-title;
  font-size: 2.5vw;
}
.ann-link {height: $ann-item-title}
.ann-item-title {font-size: 1.5em; text-transform: uppercase;}
.ann-item-desc {position: absolute; top: 0; color: $white; -webkit-transition: 1000ms; -o-transition: 1000ms; transition: 1000ms;}
.ann-item-who {font-size: 1.6em; letter-spacing: 0.05em;}
.web-ann-item-who {font-size: 1.5em;font-weight: bold;
  color: $wear-black}
.ann-item-who:hover {color: $white; cursor: pointer;}
.web-ann-item-who:hover {color: $hover-color; cursor: pointer;}
.font-lato {font-family: 'Lato', sans-serif!important;}
.font-lato span {font-size: 1.25em; color: $wear}
.font-lato img {margin-top: -0.4em;}
.font-lato .far{color: $grey-medium;}
.ann-link-item {background-color: $white;
  -webkit-border-radius: 2em; border-radius: 2em;
  padding: 1.2rem 3.6rem!important; letter-spacing: 0.13em;
  cursor: pointer; color: $black;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  border: 1px black solid;

}
.ann-link-item:hover {
  background-color: $hover-color;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  color: $white;
  border: 1px $hover-color solid;
}

.font-pt-sans {font-family: 'PT Sans', serif; font-size: 1.29em!important;}
.about {background-color: $wear-light; min-height: 650px;}
.about .two-photo img {position: absolute;}
.about .two-photo img.first {top: -60px; z-index: 1;left: 50px;}
.about .two-photo img.second {top: -230px; left: 400px;}

.count {height: 375px; color: $white; font-size: 4em;}
.count-title {color: $wear-light; font-size: 1.4rem!important; font-weight: 500}
.count-item {border-right: 1px #f5ca99 solid;}

.couch-desc {background-color: $grey-light;}
.couch-name {font-size: 1.4em;}
.couch-name a {color: black;}
.couch-name a:hover {color: $hover-color}
.couch-prof {font-size: 0.65em; letter-spacing: 0.07em;}
.couch-soc {-webkit-border-radius: 100px;border-radius: 100px; width: 45px; height: 45px; margin: 0 auto; font-size: 0.85em;}
.couch-soc .fab {margin-top: 0.5em;}
.border-wear {border-bottom: 4px rgba(0,0,0,0) solid}
.hover-show {border-bottom: 4px $hover-color solid;}
.social-link {position: absolute; width: 0;
  top: 0;}
.soc {opacity: 0; font-size: 1.6em; text-align: center; }
.articles {background-color: $wear-light;}
.color-grey span {color: $grey; font-size: 0.8em;}
.color-black {color: black!important;}
.hover-wear:hover {color: $hover-color!important; cursor: pointer;}
.pl-6 {padding-left: 4rem!important;}
footer {background-color: $grey-black; color: $white; font-family: 'HelveticaNeueCyr', sans-serif;}
.information hr, .contacts hr, .social hr{background-color: #b0b0b1; border: none;
  height: 1px; width: 90%; margin-left: 0;}
.bottom-menu hr{background-color: #b0b0b1; border: none; height: 1px; }
.f-soc { -webkit-transition: 300ms; -o-transition: 300ms; transition: 300ms;height: 45px; width: 45px; -webkit-border-radius: 45px; border-radius: 45px; background-color: $grey; font-size: 1.6em;}
.soc-item {margin-top: 0.4em;}
.f-yt:hover, .couch-soc-yt:hover, .header-yt:hover {background-color: $youtube; -webkit-transition: 300ms; -o-transition: 300ms; transition: 300ms}
.f-in:hover, .couch-soc-in:hover, .header-in:hover {background-color: $instagram; -webkit-transition: 300ms; -o-transition: 300ms; transition: 300ms}
.f-fb:hover, .couch-soc-fb:hover, .header-fb:hover {background-color: $facebook; -webkit-transition: 300ms; -o-transition: 300ms; transition: 300ms}
.f-vk:hover, .couch-soc-vk:hover, .header-vk:hover {background-color: $vk; -webkit-transition: 300ms; -o-transition: 300ms; transition: 300ms}
footer a:hover, .couch-soc a:hover {color: $white; -webkit-transition: 300ms; -o-transition: 300ms; transition: 300ms}
.header-soc {-webkit-border-radius: 45px;border-radius: 45px;}

.footer-form {background-color: $hover-color;     margin-top: -11.4rem;
  height: 27rem;
  -webkit-border-radius: 5px;
          border-radius: 5px; min-width: 420px;}
.footer-form hr{background-color: $white; height: 3px; border: none; width: 10%;}
.footer-btn {
  padding: 0.9rem 3.5rem;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.1em;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  background-color: $hover-color; color: $white;
  text-transform: uppercase; border: 1px white solid; cursor: pointer;}
.footer-btn:hover {background-color: $hover-blue; border: 1px $hover-blue solid; -webkit-transition: 500ms; -o-transition: 500ms; transition: 500ms}
.copy {color: $grey}


.phone:hover {color: $white;}
.couch, .announcements {background-color: $white; overflow: hidden}
button::-moz-focus-inner
{
  border: 0;
}
button,
button:active,
button:focus {
  outline: none;
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-dot.active {
  border-color: rgba(35, 35, 35, 0.3);
  -webkit-box-shadow: 0 0 0 4px rgba(35, 35, 35, 0.3);
          box-shadow: 0 0 0 4px rgba(35, 35, 35, 0.3);
  background-color: #232323!important;
}

.owl-dot {
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 4px solid transparent;
  -webkit-box-shadow: inset 0 0 0 7px rgba(35, 35, 35, 0.3);
          box-shadow: inset 0 0 0 7px rgba(35, 35, 35, 0.3);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.owl-dots .owl-dot + .owl-dot {
  margin-left: 15px;
  margin-top: 20px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:hover {
  -webkit-box-shadow: inset 0 0 0 2px rgb(35, 35, 35);
          box-shadow: inset 0 0 0 2px rgb(35, 35, 35);
}
.owl-dot.active:hover {
  border-color: rgba(35, 35, 35, 0.3)!important;
  -webkit-box-shadow: 0 0 0 4px rgba(35, 35, 35, 0.3)!important;
          box-shadow: 0 0 0 4px rgba(35, 35, 35, 0.3)!important;
  background-color: #232323!important;
}

.grey {color: $grey!important;}
.fa-ruble-sign {font-size: 0.8em;}
.articles-title {font-size: 1.3em}
.articles-link {height: 210px}
.bottom-menu .nav-item a {font-weight: bold; text-transform: uppercase;font-size: 0.84em;
  letter-spacing: 0.07em;}
.bottom-menu .nav-item a:hover {color: $hover-color}
.up {position: fixed;
  bottom: 3em;
  right: 2.3em;
  z-index: 500; cursor: pointer; opacity: 0;
  background: url("img/up.png") no-repeat;
  width: 54px;
  height: 54px;
}
.up:hover {background: url("img/up-hover.png") no-repeat; cursor: pointer; -webkit-transition: 300ms; -o-transition: 300ms; transition: 300ms}
.font-HelveticaNeueCyr {font-family: 'HelveticaNeueCyr', sans-serif!important;}
.form-contact {padding-left: 11.5rem!important;}
.form-contact input:focus, .form-contact textarea {border: none; outline: none}
.form-contact textarea {height: 9rem!important;}

.form-contact input[type="text"], .form-contact textarea, .form-contact input[type="email"], .form-contact input[type="tel"] {width: 100%; border: none; background-color: $grey-light; height: 3rem; color: $hover-color}
.form-contact input[type="submit"] {border: none}

.form-contact label {color: $grey; font-weight: 100;
  font-size: 1.3em;}
.soc-contact {padding-top: 3.5rem;}
.soc-contact .fas, .soc-contact .far {color: #0c12a4}
.soc-contact p {color: #4c4c4c}
.soc-contact a:hover {color: $white}
.couch-name-detail {font-size: 2.2em; color: $black}
.couch-prof-detal {font-size: 0.43em}
.skill-line-title {margin: 17px auto; width: 85%; text-align: left; font-size: 0.93em;}
.skill-line-title span {position: absolute; right: 10%; }
.skill-line {height: 8px; background-color: #f2f3f5; width: 85%; margin: 0 auto;}
.skill-line-in {
  background: rgb(238,208,175);
  background: -moz-linear-gradient(left, rgba(238,208,175,1) 1%, rgba(188,153,114,1) 100%);
  background: -webkit-linear-gradient(left, rgba(238,208,175,1) 1%,rgba(188,153,114,1) 100%);
  background: linear-gradient(to right, rgba(238,208,175,1) 1%,rgba(188,153,114,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eed0af', endColorstr='#bc9972',GradientType=1 );
  height: inherit;
}
.f-soc a:hover {color: white;}
.article-img-detail {padding: 0 11.8rem; color: #777777;}
.article-text-detail {font-size: 1.2em; margin-bottom: 2.5rem; letter-spacing: 0.026em}
.fa-phone {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.footer-line:hover{text-decoration: underline; cursor: pointer}
footer .nav-link:hover {
  color: $white!important;}